<% if (title) { %>
    <h1><%= title %></h1>
<% }else {
      res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
<% } %>

<div id="aggiungiElemento">
    <form id="inv-form" class="form-card" action="/inv/add-inventory" method="post">
        <label class="dati" for="classificationList">Classification:</label>
        <%-DropdownList %>

        <label for="inv_make" class="dati">Make
            <input name="inv_make" type="text" minlength="3" value="<%= locals.inv_make %>" placeholder="Min of 3 characters" required>
        </label>
        <label for="inv_model" class="dati">Model
            <input name="inv_model" type="text" minlength="3" value="<%= locals.inv_model %>" placeholder="Min of 3 characters" required>
        </label>
        <label for="inv_description"class="dati">Description
            <textarea name="inv_description" id="inv_description" minlength="1" required><%= locals.inv_description %></textarea>
        </label>
        <label for="inv_image" class="dati">Image Path
            <input name="inv_image" type="text" id="inv_image" placeholder="/images/vehicles/no-image.png" pattern="^.+\.(jpg|jpeg|png|gif|bmp|webp)$" minlength="6" value="<%= locals.inv_image %>" required>
        </label>
        <label for="inv_thumbnail" class="dati">Thumbnail Path
            <input name="inv_thumbnail" type="text" id="inv_thumbnail" placeholder="/images/vehicles/no-image-tn.png" minlength="6" pattern="^.+\.(jpg|jpeg|png|gif|bmp|webp)$" value="<%= locals.inv_thumbnail %>" required>
        </label>
        <label for="inv_price" class="dati">Price
            <input name="inv_price" type="text" id="inv_price" value="<%= locals.inv_price %>" placeholder="Decimal or integer" pattern="^(0|[1-9]\d*)?(\.\d+)?(?<=\d)$" required>
        </label>
        <label for="inv_year" class="dati">Year
            <input name="inv_year" type="text" id="inv_year" value="<%= locals.inv_year %>" placeholder="4-digit year (Between 1900-2039)" pattern="^(19\d{2}|20[0-3]\d)$" required>
        </label>
        <label for="inv_miles" class="dati">Miles
            <input name="inv_miles" type="text" id="inv_miles" value="<%= locals.inv_miles %>" placeholder="Digits only" pattern="^\d+$" required>
        </label>
        <label for="inv_color" class="dati">Color
            <input name="inv_color" type="text" id="inv_color" value="<%= locals.inv_color %>" minlength="3" pattern="^[a-zA-Z]+$" required>
        </label>
        <button type="submit" class="bottone">Add Vehicle</button>
    </form>
</div>